batch_size=1
train_data_filename=data/swda_predictor_dialog_dir/swda_dev.jsonline
validation_data_filename=data/swda_predictor_dialog_dir/swda_dev.jsonline
shuffle_instances=True
initializer=Xavier
dialog_act_vocab=data/dialog_act_vocab.txt
num_dialog_act=42
word_vocab_size=20686
word_vocab=data/word_vocab.txt
train_word_embed=1
max_sentence_length=28
num_latent_class=32
latent_feature_dim=64
vr_recurrent=1
word_embed_dim=300
forget_bias=1.0
carry_bias_init=1.0
couple_carry_transform_gates=1
lr_decay=0.5
num_noneval_iterations=0
max_iterations=50
validate_metric=nll
device=cpu
residual_rnn=1
residual_method=highway
opt_method=Adam
clip_value=0.0
adam_beta2=0.98
adam_beta1=0.9
adam_epsilon=1e-9
init_learning_rate=0.001
hidden_dim=128
num_hidden=2
keep_prob=0.9
dialog_act_embed_dim=128
